body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.login-screen-wrapper {
  background: #404e5c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form {
  padding: 25px;
  background: rgba(0, 0, 0, .4);
  border-radius: 3px;
}

.user-input {
  padding: 15px;
  border: none;
  font-size: 18px;
  color: #666;
  border-radius: 3px;
}

.user-form-submit-btn {
  padding: 15px;
  margin-left: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: #624bb8;
  color: #fff;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

.user-form-submit-btn:hover {
  background: #544394;
}

/* CHAT SCREEN */

.chat-screen-wrapper {
  display: flex;
  height: 100%;
}

.online-users-col {
  width: 100%;
  max-width: 300px;
  background: #404e5c;
}

.online-users-header {
  color: #fff;
  padding: 10px 20px;
}

.user-item {
  padding: 20px;
  color: #fff;
  background: #624bb8;
  margin: 5px 0;
}

.chat-message-area-wrapper {
  background: #4c5e70;
  width: 100%;
  position: relative;
}

.message-area {
  height: calc(100% - 70px);
  overflow-y: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.message-input {
  height: 35px;
  width: 90%;
  border: none;
  box-sizing: border-box;
  background: #1d242b;
  color: #dcddde;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1em;
}

.message-form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #29333d;
}

.msg-username {
  font-weight: bold;
  display: block;
}

.emoji-mart {
  position: absolute;
  bottom: 70px;
  left: 0;
}

.emoji-btn {
  cursor: pointer;
}

.message-input-wrapper {
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 70px;
}

.message-box  {
  padding-left: 9%;
  padding-right: 9%;
}

.message-box .message-content  {
  background: #29333d;
  padding: 8px 10px;
  display: inline-block;
  margin: 5px 0;
  word-break: break-all;
  -ms-word-break: break-all;
  max-width: 60%;
  border-radius: 3px;
  text-align: left;
  position: relative;
  color: #fff;
}

.message-box .message-content p {
  display: inline-block;
  max-width: calc(100% - 50px);
  margin: 0;
}

.msg-time {
  font-size: 10px;
  position: relative;
  bottom: -5px;
  display: inline-block;
  width: 50px;
  text-align: right;
  cursor: default;
}

#c-msg {
  text-align: right;
}

#c-msg .message-content {
  background: #624bb8;
}
